*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/com/ktxdevelopment/mobiware/clients/main/BaseClient.kt
/app/src/main/java/com/ktxdevelopment/mobiware/clients/ui/MainActivityClient.kt
/app/src/main/java/com/ktxdevelopment/mobiware/ui/activities/MainActivity.kt
/app/src/main/java/com/ktxdevelopment/mobiware/clients/ui/SignInUpClient.kt
/app/src/main/java/com/ktxdevelopment/mobiware/ui/activities/IntroductionActivity.kt
/app/src/main/java/com/ktxdevelopment/mobiware/ui/fragments/main/FragmentHardware.kt
/app/src/main/java/com/ktxdevelopment/mobiware/ui/fragments/main/FragmentSecondaryHardware.kt
/app/src/main/java/com/ktxdevelopment/mobiware/ui/fragments/main/FragmentMyDevices.kt
/app/src/main/java/com/ktxdevelopment/mobiware/clients/firebase/FirebaseClient.kt
/app/src/main/java/com/ktxdevelopment/mobiware/util/Constants.kt

/app/src/main/res/layout/activity_main.xml
/app/src/main/res/layout/shimmer_details.xml
/app/src/main/res/layout/shimmer_hardware.xml
/app/src/main/res/layout/fragment_hardware.xml
